/*                                         /
/               GENERAL                    /
/                                         */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e3333;
}
* {
  box-sizing: border-box;
}
/*                                         /
/      BANDEAU SUPERIEUR DU HEADER         /
/                                         */
.header {
  padding-left: 12px;
  padding-right: 12px;
}
.Bandeau {
  background-color: var(--main-bg-color);
}

.bandeau {
  border-bottom: 1px solid #e9ebeb;
}
.bandeauCenter {
  margin: 0 auto;
  max-width: 1200px;
}

.logo {
  height: 55px;
}
/*                                         /
/               RESTAURANT                 /
/                                         */
.restaurantCenter {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.restaurantInformation {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
}
.restaurantInformationTitre {
  font-size: 32px;
  line-height: 26.7px;
  margin-bottom: 35px;
  font-weight: bold;
}
.restaurantInformationDescription {
  font-size: 19px;
  line-height: 28.8px;
  color: #878a8a;
}
.restaurantCover {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
/*                                         /
/                 MENU                     /
/                                         */

.greyBlack {
  background-color: #f3f5f5;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.restaurantDetails {
  display: flex;
  flex-direction: row;
}
.basket {
  width: 350px;
  display: flex;
  flex-shrink: 0;
}
.meals {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}
.course {
  display: flex;
  flex-direction: column;
}
.courseListeItem {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.courseItem {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 7px;
  justify-content: space-between;
  min-height: 160px;
}

.courseItem img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 7px;
}
.prixCat {
  display: flex;
  flex-direction: row;
}

.courseTitle h2 {
  color: #2e3333;
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 00px;
}

.courseItemTitle {
  color: #2f3434;
  font-size: 18px;
  line-height: 15.6px;
  font-weight: bold;
  margin-bottom: 15px;
}
.courseItemDescription {
  color: #808484;
  font-size: 14px;
  line-height: 20.8px;
}
.courseItemZonePrix {
  color: #808484;
  font-size: 17px;
  line-height: 14.7px;
  font-weight: regular;
  margin-top: 15px;
}
/**/

.Cart {
  width: 350px;
  position: sticky;
  top: 0;
}

.Cart--card {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
  background: white;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}

.Cart--validate {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #00cdbd;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

.Cart--disabled {
  cursor: not-allowed;
  background: #bac3c3;
  color: #8b9a9b;
}

.Cart--empty {
  color: #868a8a;
  text-align: center;
  padding: 3rem 0;
}

.Cart--items {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.Cart--line {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}

.Cart--counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}

.Cart--counter span {
  min-width: 1rem;
  text-align: center;
}

.Cart--amount {
  width: 85px;
  text-align: right;
}

.Cart--item-name {
  flex: 1;
}

.Cart--results {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d1d7d7;
}

.Cart--result-name {
  flex: 1;
}

.Cart--result-line {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.Cart--total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.cartListeItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.OrderLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
